@import 'variable.styl'

body, html
  line-height 1
  font-family 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Microsoft Yahei', 'Droid Sans Fallback'
  user-select none
  -webkit-tap-highlight-color transparent
  background $background
  color $text-web-color
  overflow hidden
  height 100%

textarea
  font-family 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Microsoft Yahei', 'Droid Sans Fallback'
  font-size $font-size-medium

.flex-box
  display flex

.p-abs
  position absolute

.p-rel
  position relative

.p-fixed
  position fixed

.d-none
  display none

.t-c
  text-align center

.t-r
  text-align right

.t-l
  text-align left

.mb10
  margin-bottom 10px

.no_bor
  background-image none

.bor_btm
  border-bottom 1px solid #e8e8e8

// onsen-ui
.page__background
  background-color #f6f6f6

ons-input input::-webkit-input-placeholder
  color $text-notic-color
  font-size 14px

ons-list-item .list-item__center, .list-item__left, .list-item__right
  background-image none

.base_item ons-input .text-input
  text-align right

ons-input[disabled]
  opacity 1

ons-input .text-input:disabled
  opacity 1
  color $text-input-color